.general-view-header{
  width: 100%;
  height: 53px;
  position: relative;
  background: black;
}

.general-view-content{
  width: 100%;
  height: 722px;
  background-color: rgb(242,242,242);
}

.general-view-footer{
  width: 100%;
  height: 300px;
  background: black;
}

.general-view-left{
  width: 50%;
  height: 100%;
  float: left;
}

.general-view-product{
  width: 100%;
  height: 60%;
  display: inline-block;
  float: left;
  margin-left: 2%;
  margin-top: 3%;
  background-color: rgb(255,255,255);
}

.general-view-product h4{
  margin-left: 3%;
  margin-top: 4%;
  font-weight: bold;
}

.ant-input-search{
  width: 80%!important;
  margin-left: 3%!important;
  margin-top: 2%!important;
}

.resent-visited{
  width: 30%;
  height: 8%;
  margin-left: 3%;
  display: inline-block;
  background-color: rgb(242,242,242);
}

.resent-visited:hover{
  background-color: rgb(229,229,229);
}

.resent-visited a{
  display: block;
  text-align: center;
  height: 30px;
  line-height: 30px;
  color: black!important;
}

.ant-collapse{
  margin-top: 7%!important;
  margin-left: 3%!important;
  width: 80%;
  display: inline-block;
}

.general-view-document{
  width: 100%;
  height: 35%;
  margin-left: 2%;
  margin-top: 1.8%;
  display: inline-block;
  background-color: rgb(255,255,255);
}

.general-view-document h4{
  margin-left: 3%;
  margin-top: 4%;
  font-weight: bold;
}

.commonly-used-doc{
  width: 20%;
  margin-left: 3%;
  display: inline-block;
}

.commonly-used-doc a{
  margin-left: 1%;
  color: black!important;
}

.commonly-used-doc a:hover{
  color: #1CD8DB!important;
}

.general-view-right{
  width: 28%;
  height: 100%;
  float: left;
}

.general-view-user{
  width: 100%;
  height: 20%;
  display: inline-block;
  margin-left: 15%;
  margin-top: 5%;
  background-color: rgb(255,255,255);
}

.general-view-user hr{
  margin-top: 20%;
  width: 85%;
  background-color: rgb(227,227,227);
}

.user-head{
  margin-top: 4%;
}

.user-head-avatar{
  margin-left: 7%;
  display: inline-block;
  float: left;
}

.user-head h4,h5{
  width: 40%;
  margin-left: 3%;
  display: inline-block;
  float: left;
}

.user-des {
  display: inline-block;
  margin-left: 15%;
}

.user-des a{
  margin-left: 25%;
  color: black!important;
}

.user-des a:hover{
  color: #1CD8DB!important;
}

.general-view-summary{
  width: 100%;
  height: 36.5%;
  display: inline-block;
  margin-left: 15%;
  margin-top: 2.5%;
  background-color: rgb(255,255,255);
}

.general-view-summary h4{
  margin-left: 3%;
  margin-top: 5%;
  font-weight: bold;
}

.general-view-notice{
  width: 100%;
  height: 37%;
  margin-left: 15%;
  margin-top: 2.5%;
  display: inline-block;
  background-color: rgb(255,255,255);
}

.general-view-notice h4{
  margin-left: 3%;
  margin-top: 5%;
  font-weight: bold;
}

.ant-list-item a{
  margin-left: 3%;
  color: black!important;
}

.ant-list-item a:hover{
  color: #1CD8DB!important;
}

.ant-list-item span{
  margin-left: 60%;
}


