@colorA:#1E1E1E;
@colorB:#fff;
@colorC:#3E4447;
@colorD:#058F88;
@colorE:#1CD8DB;

.userhead-wrap{
    height: 100px;
    color: @colorB;
    float:left;
    position: absolute;
    z-index: 999;
    width:100%;
    
}
.userhead-content{
    height: 100px;
    text-align: center;
    line-height: 50px;
  
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
}

.userhead-bottomItem{
    cursor:pointer;
}

.userhead-bottomItem:hover{
    color: @colorE;
    position: relative;  
}

.userhead-bottomItem div a:link{
    color:@colorB!important;
}

.userhead-bottomItem div a:visited{
    color:@colorB!important;
}

.userhead-bottomItem div a:hover{
    color:@colorE!important;
}

.userhead-login:hover{
    background-color: #A22E83;
}

.userhead-logo{
    color: transparent;
    font-size: 22px;
background-color : #fff;
text-shadow : rgba(255,255,255,0.5) 0 5px 6px, rgba(255,255,255,0.2) 1px 3px 3px;
-webkit-background-clip : text;
width: 100%;
padding: 20px;
}






