.admin-home{

}
.admin-aside{
  background: #001529;
  height:calc(100vh);
  min-width: 140px;

  position:fixed;
}
.admin-head{
  color:#fff;
  background: #031A2E;
  line-height:40px;
  height:40px;
  overflow: hidden;
  padding-right:40px;
  width: 100%;
}
.admin-head-user{
  float:right;
}
.admin-head-logo{
  float: left;
  padding-left: 20px;
}
.admin-content{
  padding: 10px;
  background:#F1F3F4;
  height:calc(100vh);
}
.admin-aside-log{
  text-align: center;
  margin-top: 20px;
  background:#1E66AC;
  border-radius: 70px;
  width: 140px;
  margin-left: 10px;

}
.admin-aside-link{
  color:#E7EAED;
  text-decoration: none;


}